<div class="movie-cards">
    <div class="movie-card">
        <img class="card-img" [src]="link" alt="">
        <div class="layer">
            <h3>{{movie.title || movie.name}}</h3>
            <!-- <p>Released On : {{movie.release_date || movie.first_air_date}}</p> -->
            <span>
                <p>{{getMatchPercentage(movie.vote_average)}}% Match</p>
                <a target="_blank" href="https://www.netflix.com/watch/80114790?trackId=255824129&tctx=0%2C0%2CNAPA%40%40%7C1cade6b8-3211-42bc-b99c-08bb17ce6c13-12566424_titles%2F1%2F%2Fdark%2F0%2F0%2CNAPA%40%40%7C1cade6b8-3211-42bc-b99c-08bb17ce6c13-12566424_titles%2F1%2F%2Fdark%2F0%2F0%2Cunknown%2C%2C1cade6b8-3211-42bc-b99c-08bb17ce6c13-12566424%7C1%2CtitlesResults%2C%2CVideo%3A80100172"><i class="fa-solid fa-play"></i></a>

            </span>
        </div>
    </div>
</div>