section{
    padding: 0 4%;
}

section h2{
    margin: 2rem 0;
    color: white;
    font-size: 1.7rem;
}

.team-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

@media screen and (max-width: 1024px) {
    .team-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .team-container{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
}