<article class="team-member">
    <div class="team-member-image">
        <img [src]="getLink(member.profile_path)" alt="">
    </div>
    <div class="team-member-info">
        <h4>{{member.name}}</h4>
        <p>{{member.character}}</p>
    </div>
    <div class="team-member-socials">
        <a href="https://www.linkedin.com/in/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://www.linkedin.com/in/"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/"><i class="fa-brands fa-instagram"></i></a>
    </div>
</article>