.slider{
    background: #141414;
    padding-top: 2rem;
}

.trending{
    padding-top: 0;
    margin-top: -3rem;
}

.slider h5{
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    padding-left: 4%;
    cursor: pointer;
    width: fit-content;
}

.slider span,
.slider span i{
    color: #54b9c5;
    font-size: 0.7rem;
    transition: all 400ms ease;
    opacity: 0;
}

.slider h5:hover span,
.slider h5:hover span i{
    opacity: 1;
}

.container{
    display: flex;
    gap: 1px;
    padding-left: 4%;
    overflow-y: scroll;
}

.container::-webkit-scrollbar{
    display: none;
}